{% extends "AppBundle::layout.html.twig" %}

{% block title %}Thanh Nhan Digital{% endblock %}

{% block section %}
    <!--HOME SECTION-->
    <div id="home-sec">

   
    <div class="container" id="home" >
        <div class="row text-center g-pad-bottom">
            <div class="col-md-12">
                
                <span class="head-main">ONE GROWING COMPANY</span>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4  col-sm-4">
                 <i class="fa fa-desktop faa-vertical animated icon-round bk-color-red"></i>
                            <h4>All-in-one Cloud </h4>
                            <p>
                                No Additional Software required
                            </p>
                           
                </div>
             <div class="col-md-4  col-sm-4">
                 <i class="fa fa-flask  faa-ring animated icon-round bk-color-green"></i>
                            <h4>All Device Supported </h4>
                            <p>
                                Inclusing HMD,iOS, Android, Windows, Mac, SmartTV
                            </p>
                           
                </div>
            <div class="col-md-4  col-sm-4">
                  <i class="fa fa-pencil  faa-shake animated icon-round bk-color-light-blue"></i>
                            <h4>Powerful VR Analytic </h4>
                            <p>
                                See what and where people are interested with Popularity VR Heatmap
                            </p>
                           
                </div>
            </div>
        
    </div>
         </div>
    
    <!--END HOME SECTION-->
    <!--TECHNOLOGY SECTION-->    
    <section  id="technology-sec" >
        <div class="container">
            
            <div class="row ">
                <div class="col-md-12">
                      <div class="col-md-8 col-sm-8">
                          <h2>Lorem ipsum dolor sit amet </h2>
                    <p>
Lorem ipsum dolor sit amet, accumsan.  posuere lectus et, fringilla augue.
                        Lorem ipsum dolor sit amet, accumsan.  posuere lectus et, fringilla augue.
                          Lorem ipsum dolor sit amet, accumsan.  posuere lectus et, fringilla augue.
                          Lorem ipsum dolor sit amet, accumsan.  posuere lectus et, fringilla augue.
                          Lorem ipsum dolor sit amet, accumsan.  posuere lectus et, fringilla augue.
                    </p>
                    </div>
                  
                    <div class="col-md-4 col-sm-4">
                    <h2>Lorem ipsum  </h2>
                    <p>
Lorem ipsum dolor sit amet, accumsan.  posuere lectus et, fringilla augue.
                        Lorem ipsum dolor sit amet, accumsan.  posuere lectus et, fringilla augue.
                    </p>
                    </div>
                </div>
                
            </div>
            <div class="row text-center">
            <div class="col-md-4  col-sm-4">
                 <i class="fa fa-fax faa-horizontal animated icon-round bk-color-black"></i>
                            <h4>Sure Quique Menu </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                           
                </div>
             <div class="col-md-4  col-sm-4">
                 <i class="fa fa-bomb  faa-pulse animated icon-round bk-color-blue"></i>
                            <h4>Sure Quique Menu </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                           
                </div>
            <div class="col-md-4  col-sm-4">
                  <i class="fa fa-paw  faa-bounce animated icon-round bk-color-brown"></i>
                            <h4>Sure Quique Menu </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                           
                </div>
            </div>
            <div class="row pad-top">
                <div class="col-md-12 text-center">
                      <div class="col-md-4 col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Service # 1
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                        </div>
                        <div class="panel-footer">
                            Panel Footer
                        </div>
                    </div>
                    </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Service # 2
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                        </div>
                        <div class="panel-footer">
                            Panel Footer
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Service # 3
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                        </div>
                        <div class="panel-footer">
                            Panel Footer
                        </div>
                    </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--END SERVICES SECTION-->
     <!--STATS SECTION-->
    <section class="c-sts" id="sts-img">
        <div class="container">
            <div class="row ">
                <div class="col-md-9 ">
                    <div class="stats-div">
                        <h3>Download Now </h3>
                         <h4>With millions of downloads..</h4>
                    </div>
                </div>


                <div class="col-md-3 ">
                    <div class="stats-div">
                        <h3>1000000+</h3>
                        <h4>Downloads</h4>
                    </div>

                </div>
                
               
            </div>
        </div>
    </section>
    <!--END STATS SECTION-->
     <!--PRODUCT SECTION-->
    <section id="products-sec">
        <div class="container">
            <div class="row ">
                                 <div class="col-md-12 text-center ">
                    <div class="col-md-4 col-sm-4">
                        <ul class="plan">
                            <li class="plan-head btn-danger">URI FLASHCARD</li>
                           
                            <li><strong>12</strong> Accounts</li>
                            <li><strong>52</strong> Emails</li>
                            <li><strong>50 GB</strong> Space</li>
                            <li><strong>Free</strong> Support</li>
                             <li class="main-price">$2 only</li>
                            <li class="bottom">
                                <a href="#" class="btn btn-danger btn-lg ">Read More</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4  col-sm-4">
                        <ul class="plan">
                            <li class="plan-head btn-primary">POPULAR PLAN</li>
                            
                            <li><strong>12</strong> Accounts</li>
                            <li><strong>52</strong> Emails</li>
                            <li><strong>50 GB</strong> Space</li>
                            <li><strong>Free</strong> Support</li>
                            <li class="main-price">$199 only</li>
                            <li class="bottom">
                                <a href="#" class="btn btn-primary btn-lg ">Read More</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4  col-sm-4">
                        <ul class="plan">
                            <li class="plan-head btn-success">VALUE PLAN</li>
                         
                            <li><strong>12</strong> Accounts</li>
                            <li><strong>52</strong> Emails</li>
                            <li><strong>50 GB</strong> Space</li>
                            <li><strong>Free</strong> Support</li>
                               <li class="main-price">$299 only</li>
                            <li class="bottom">
                                <a href="#" class="btn btn-success btn-lg">Read More</a>
                            </li>
                        </ul>
                    </div>
                

                </div>
            </div>


        </div>
    </section>
    <!-- END PRODUCT SECTION-->
   

    <!--CONTACT SECTION-->
    
    <section  id="contact-sec">
       <iframe class="cnt" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6327.237672869756!2d127.07654442666076!3d37.54048146138698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2skr!4v1464935532360" ></iframe>
   <div class="add">
 <i>Address: </i> Seoul, Gwangjin-gu, Jayang-dong, 225-97 203, South Korea
   </div>
       
         </section>
    <!--END CONTACT SECTION-->

{% endblock %}
